page-list {
    .title-header{
        text-align: center;
    }

    .icon-clip{
        text-align: center;
        font-size: 50px;
        border: 0px!important;
        padding: 0px!important;
    }

    .title-card{
        font-size: 18px;
    }

    .date-card{
        font-size: 12px;
    }

    .price-card{
        font-size: 18px;
    }

    .status-card{
        font-size: 12px;
        text-align: right;
        color: #EB5E00;
    }
}