page-item-list {

    .title-card{
        font-size: 18px;
    }

    .icon-clip{
        text-align: center;
        font-size: 50px;
        border: 0px!important;
        padding: 0px!important;
    }

    .description-card{
        padding-top: 5px;
        font-size: 12px;
    }

    .price-card{
        font-size: 18px;
        text-align: right;
    }

    .icon-card{
        text-align: center;
    }
}
